server {
    listen {{ nginx_http_port }};
    server_name {{ nginx_domain_name }};
    return 301 https://$host$request_uri;
}

server {
    listen {{ nginx_https_port }} ssl;
    server_name {{ nginx_domain_name }};

    resolver {{ nginx_resolver_ip }};

    set $forward_scheme http;
    set $server         "{{ nginx_upstream_ip }}";
    set $port           80;

    ssl_certificate     "/etc/pki/nginx/{{ nginx_domain_name }}.crt";
    ssl_certificate_key "/etc/pki/nginx/{{ nginx_domain_name }}.key";

    location / {
        proxy_no_cache 1;
        proxy_cache_bypass 1;
        add_header       X-Served-By $host;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Scheme $scheme;
        proxy_set_header X-Forwarded-Proto  $scheme;
        proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP          $remote_addr;
        proxy_pass       $forward_scheme://$server:$port$request_uri;
    }
}